@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  background-color: #0B4F6C;
}

.message {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-play {
  display: none;
  margin: 0 auto 20px;
}

.board {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: #FBFBFF;
  height: 100%;
}

.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board__line-1,
.board__line-2,
.board__line-3,
.board__line-4 {
  position: absolute;
  background-color: #4D7F94;
  border-radius: 5px;
}

.board__line-1,
.board__line-2 {
  width: 100%;
  height: 10px;
  left: 0;
}

.board__line-3,
.board__line-4 {
  height: 100%;
  width: 10px;
  top: 0;
}

.board__line-1 {
  top: 95px;
}

.board__line-2 {
  top: 195px;
}

.board__line-3 {
  left: 95px;
}

.board__line-4 {
  left: 195px;
}



